@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --border: #e2e8f0;
    --input: #e2e8f0;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --primary: #0f172a;
    --primary-foreground: #ffffff;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --ring: #94a3b8;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    margin: 0;
  }
}

#app {
  min-height: 100vh;
}


